<!-- Filename: list.ejs
Student Name: Siddharth Verma
Student ID: 301207026
Date: Date: October 1, 2022 -->


<!-- Rendering business contact list -->
<div class="mainDiv">
    <% if(searchMessage === "Found no results matching your query. Please try again!") { %>
    <div class="alert alert-danger">
        <%= searchMessage %>
    </div>
    <% } else if(searchMessage !== "") { %>
    <div class="alert alert-success">
        <%= searchMessage %>
    </div>
    <% } %>
    <h1 id="greeting">
        <% if(displayName && searched) { %>
        Search Results
        <% } else{ %>
        <%= displayName %>'s Business Contact List
        <% } %>
    </h1>
    <br>
    <form id="searchForm" method="POST">
        <label>Find a contact: </label>
        <input type="text" name="use" id="searchBar" value="" placeholder="Enter phone #" required>
        &nbsp;
        <button type="submit" class="btn btn-outline-info" id="searchButton">Search</button>
    </form>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center">Entry #</th>
                        <th>Name</th>
                        <th>Phone number</th>
                        <th>Email</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="loginList">
                    <% if (searched) { %>
                    <% for(let i=0; i < result.length; i++) { %>
                    <tr>
                        <th class="text-center">
                            <%= i + 1 %>
                        </th>
                        <td>
                            <%= result[i].displayName %>
                        </td>
                        <td>
                            <%= result[i].phone %>
                        </td>
                        <td>
                            <%= result[i].email %>
                        </td>

                        <% if(displayName) { %>
                        <td class="text-center col-1">
                            <a href="/update/<%= result[i]._id %>" class="btn btn-outline-info">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/delete/<%= result[i]._id %>" class="btn btn-outline-danger">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                        <% } %>
                    </tr>
                    <% } %>
                    <% } else if(!searched) { %>
                    <% for(let i=0; i < login.length; i++) { %>
                    <tr>
                        <th class="text-center">
                            <%= i + 1 %>
                        </th>
                        <td>
                            <%= login[i].displayName %>
                        </td>
                        <td>
                            <%= login[i].phone %>
                        </td>
                        <td>
                            <%= login[i].email %>
                        </td>

                        <% if(displayName) { %>
                        <td class="text-center col-1">
                            <a href="/update/<%= login[i]._id %>" class="btn btn-outline-info">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/delete/<%= login[i]._id %>" class="btn btn-outline-danger">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                        <% } %>
                    </tr>
                    <% } %>
                    <%  } %>
                </tbody>
            </table>
        </div>
    </div>
</div>