<div id="updateDiv">
    <form id="updateForm" method="POST">
        <input type="hidden" name="id" value="<%= login._id %>" >

        <label>Display Name:</label>
        <input type="text" id="username" name="displayName" required value="<%= login.displayName %>" placeholder="Username">

        <label>Email:</label>
        <input type="email"  id="emailAddress" name="email" required value="<%= login.email %>" placeholder="Email">

        <label>Phone Number:</label>
        <input type="number" id="username" name="phone" required value="<%= login.phone %>" placeholder="Phone">

        <label>Username:</label>
        <input type="text"id="username" name="username" required value="<%= login.username %>" placeholder="Username">

        <label>Password:</label>
        <input type="text" id="username" name="password" required value="<%= login.password %>" placeholder="Username">

        

        <button class="btn btn-primary" type="submit">
            <i class="fas fa-edit"></i> Submit</button>

        <a href="/delete" class="btn btn-warning">
            <i class="fas fa-undo"></i> Delete user</a>

        <a href="/list" class="btn btn-warning">
            <i class="fas fa-undo"></i> Cancel update</a>
    </form>
</div>