<!-- Filename: update.ejs
Student Name: Siddharth Verma
Student ID: 301207026
Date: October 1, 2022 -->

<!-- Rendering update page after user clicks the edit button -->
<div class="mainDiv">
    <h1>Now editing details for  <%= login.displayName %> </h1>
    <br>
    <div id="formUpdate">
        <form id="updateForm" method="POST">
            <input type="hidden" name="id" value="<%= login._id %>" >
            <label>Display Name:</label>
            <input type="text" id="username" name="displayName" required value="<%= login.displayName %>" placeholder="Username">
            <br><br>
            <label>Email:</label>
            <input type="email"  id="emailAddress" name="email" required value="<%= login.email %>" placeholder="Email">
            <br><br>
            <label>Phone Number:</label>
            <input type="number" id="username" name="phone" required value="<%= login.phone %>" placeholder="Phone">
            <br><br>
            <button class="btn btn-outline-info" type="submit">Submit</button>
            <a href="/delete" class="btn btn-outline-danger"> Delete user</a>
            <a href="/list" class="btn btn-outline-warning">Cancel update</a>
        </form>
    </div>
</div>